@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html{
height: 100%;
}


body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #FBF7F4;
    color: #242424;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.button{
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}


/* Pages*/
.page-header{
    color: #ffffff;
    background: #000000;
}

.navigation{
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.navigation-list{
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-user{
    max-width: 250px;
    margin-left: auto;
}

.navigation-user .navigation-link{
min-width: 16px;
min-height: 22px;
}


.navigation-link{
    display: block;
    padding: 24px 19px;
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.main-container{
    flex-grow: 1;
    padding-top: 64px;
    padding-bottom: 60px;
}

.page-container{
    width: 940px;
    margin: 0 auto;
}

.logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 64px;
}

.main-index{
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.advantages{
    margin-bottom: 58px;
}


.advantages-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.advantages-item{
    width: 277px;
}

.advantages-title{
    font-family: "PT Sans Narrow" sans-serif;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 56px;
}

.advantages-description{
margin: 0;

}

/* Index columns*/
.index-columns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    padding: 40px;
    color: #242424;
    background-color: #FBF7F4;
    background-image: url(../images/noisy-texture-80x80-o8-d27-c-1f1f1f-t1\ 1.png);
} 

.index-columns:last-child{
    margin-bottom: 0;
}

/*Services*/
.services {
    width: 390px;
    text-transform: uppercase;
}

/*Title*/
.services-title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 28px;
}

/*Price*/
.servies-list{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.services-price{
    color: #af7842;
}

/*Title*/
.gallery{
    width: 390px;
}


.gallery-title{
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 28px;
}

.contacts{
    width: 350px;
    font-weight: 700;
}

/*Title*/
.contact-title{
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 28px;
}

.contacts-address{
    font-style: normal;
}

/*subtitle*/
.contact-subtitle{
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #af7842;
}

/*Phone*/
.contacts-phone{
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #242424;
}

/*Title*/
.appointment{
    width: 430px;
}

.appointment-form{
    display: grid;
    grid-template-columns: 114px 74px 208px;
    gap: 20px;
}

.field-group{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.appointment-form  .info{
    display: none;
  }
.appointment-form-name{
    grid-column: 1/-1;
}

.appointment-submit{
    grid-column: 1/-1;
    justify-self: start;
}

.appointment-title{
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 28px;
}

/*List*/
.appointment-form{
    color: #595959;
}

/*Label*/
.form-label{
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

/*Footer*/
.page-footer{
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background-color: #242424;
    background-image: url(../images/noisy-texture-80x80-o8-d27-c-1f1f1f-t1\ 1.png);
    background-repeat: repeat;
}
.page-footer-container{
    display: flex;
    width: 940px;
    margin: 0 auto;
}


.page-footer a {
    color: #ffffff;
}

.page-footer .htmlacademy-link{
    font-size: 14px;
    color: #dbb590;
}

.page-footer-title{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color:#ffffff;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 14px;
}
.footer-contacts{
    width: 200px;
    margin-right:130px;
}


.footer-contacts-adress{
    font-style: normal;
}
.footer-contacts-adress p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
}

.footer-contacts-adress-phone {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
}

.footer-contacts-map-link {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: underline;
    text-transform: uppercase;
}

.footer-social{
    margin-left:auto;
    max-width: 190px;
}

.footer-social-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.footer-social-item {
    width: 56px;
    height: 44px;
    margin-right: 8px;
    margin-bottom: 8px;
  }

.footer-social-item:nth-child(3n){
    margin-right: 0;
}






/*Catalog*/

.navigation-logo{
    width: 140px;
    margin-right: 100px;
}
.main-inner{
    padding-top: 40px;
    color: #242424;
    background-color: #FBF7F4;
    background-image: url(../images/noisy-texture-80x80-o8-d27-c-1f1f1f-t1\ 1.png);
}

.inner-header-title{
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 16px; 
}

/*breadcrumbs*/
.breadcrumbs{
    color: #242424;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.breadcrumbs-link{
    margin-right: 32px;
    color: inherit;
}

.catalog-products{
    display: flex;
}

.catalog-filter{
    width: 220px;
    margin-right: 20px;
}

.catalog-filter-title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #242424;
    text-transform: uppercase;
}

.catalog-right-column{
    width: 700px;
}

.control-label {
    font-weight: 700;
}

.sorting-container {
    display: flex;
    color: #000000;
    background-color: #ffffff;
    margin-bottom: 16px;
    padding: 16px;
}

.sorting-container .button{
    width: 56px;
    height: 44px;
}

.sorting-type{
    margin-right: auto;
}
/*Light*/
.button-light{
    color: #242424;
    background-color: #ffffff;
}

/*Item*/
.product-list{
    display: grid;
    grid-template-columns: repeat(3, 220px);
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
}

.product-card{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.product-card-content{
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: auto;
}
/*Link*/
.product-card-link {
text-decoration: none;
}
/*Title*/
.product-card-title-link{
    margin-top: 16px;
    margin-bottom: 8px;
}
.product-card-title {
font-weight: 700;
color: #242424;
}

.product-card-button {
    margin-top: auto;
}
/*Price*/

.product-card-price{
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #814b18;
    text-transform: uppercase;
    margin-bottom: 16px;
}

/*Link*/
.pagination-container{
    display: flex;
    padding: 16px;
    background-color: #ffffff;
}

.pagination{
   display: flex;
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.pagination-item:not(:last-child){
    margin-right: 8px;
}

.pagination-link{
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 44px;
    padding: 14px 20px;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    line-height: 16px;
    font-weight: 700;
}

.pagination-clear {
    background-color: transparent;
  }

.pagination-show-more{
    margin-left: auto;
}

.pagination-current{
    color: #242424;
    border-color: #FFFFFF;
}
.pagination-disabled{
    background-color: #595959;
}