@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html{
height: 100%;
}


body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #FBF7F4;
    color: #242424;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.button{
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.button:hover{
    background-color: #814b18;
}

.footer-social-link:hover{
    background-color: #814b18;
}


.footer-social-link:focus{
    outline: 2px solid #dbb590;
    background-color: #4e2e0e;
}
.button:focus{
    outline: 2 solid #dbb590;
    background-color: #4e2e0e;
}

.bitton:disabled{
    color: #e7e7e7;
    background-color: #595959;
}
.button:disabled:hover{
    background-color: #595959;
    outline: none;
    cursor: default;
}
.button + .button{
    margin-left: 16px;
}
.button-all{
padding-right: 44px;
background-image:url("../images/stroke1.svg");
background-repeat: no-repeat;
background-size: 16px 16px;
background-position: center right 20px;
}

.button-feedback {
    color: #242424;
    background-color: #FFFFFF;
  }
  
  .button-feedback:hover {
    background-color: #DBB590;
  }
  
  .button-feedback:focus {
    outline: 2px solid #AF7842;
    background-color: #DBB590;
  }

/* Pages*/
.page-header{
    color: #ffffff;
    background: #000000;
}

.navigation{
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.navigation-list{
    display: flex;
    flex-wrap: wrap;
    font-family:"PT Sans Narrow", sans-serif;
    width: 470px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-user{
    max-width: 250px;
    margin-left: auto;
}

.navigation-user .navigation-link{
min-width: 16px;
min-height: 22px;
}


.navigation-link{
    position: relative;
    display: block;
    padding: 24px 19px;
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-link:hover{
background-color: #595959;
}

.navigation-link:focus{
    box-shadow: inset 0 0 0 4px #e7e7e7;
    outline: none;
}

.navigation-link-current::before {
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 4px;
    background-color: #FFFFFF;
    content: "";
  }
.navigation-icon{
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
margin: auto;
fill: #dbdbdb;
}

.navigation-link:hover .navigation-icon{
    fill: #242424;
}
.navigation-link:focus .navigation-icon{
    fill: #dbdbdb;
}

.navigation-link-login{
padding-left: 44px;
}
.navigation-link-login .navigation-icon{
    right: auto;
    left: 20px;
    margin:auto 0;
}
.main-container{
    flex-grow: 1;
    padding-top: 64px;
    padding-bottom: 60px;
}

.page-container{
    width: 940px;
    margin: 0 auto;
}

.logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 64px;
}

.main-index{
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.advantages{
    margin-bottom: 58px;
}


.advantages-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.advantages-item{
    width: 277px;
}

.advantages-title{
    position: relative;
    font-family: "PT Sans Narrow" sans-serif;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 56px;
}

.advantages-title::before{
    position: absolute;
    bottom: -40px;
    left: 50%;
    width: 18px;
    height: 18px;
    margin-left: -9px;
    background-color: #ffffff;
    content: "";
    transform: rotate(45deg);
}

.advantages-description{
margin: 0;

}

/* Index columns*/
.index-columns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    padding: 40px;
    color: #242424;
    background-color: #FBF7F4;
    background-image: url(../images/noisy-texture-80x80-o8-d27-c-1f1f1f-t1\ 1.png);
    position: relative;
} 

.index-columns::after{
    content: "";
    position: absolute;
    top: 40px;
    bottom: 40px;
    width: 0;
    border-right: 1px dashed #595959;
}

.index-columns:first-of-type::after{
    left: 470px;
}
.index-columns:last-of-type::after{
    left: 430px;
}
.index-columns:last-child{
    margin-bottom: 0;
}

/*Services*/
.services {
    width: 390px;
    text-transform: uppercase;
}

/*Title*/
.services-title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 28px;
    font-family: "PT Sans Narrow", sans-serif;
}

/*Price*/
.servies-list{
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    list-style-type: none;
}

.servies-item{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 22px;
}

.servies-item::before{
    flex-grow: 1;
    order: 2;
    margin-right: 16px;
    margin-left: 16px;
    border-bottom: 2px dotted rgba(89, 89, 89, 0.5);
    content: "";
}
.services-price{
    order: 3;
    color: #af7842;
}

/*Title*/
.gallery{
    width: 390px;
}


.gallery-title{
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 28px;
    font-family: "PT Sans Narrow", sans-serif;
}

.slider-image{
    display: block;
}

.slider-wrapper{
    position: relative;
}
.slider-controls{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
}
.slider-button{
    width: 48px;
    height: 60px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    cursor: pointer;
    background-image: url(../images/stroke-right.svg);
    background-position:center;
    background-repeat: no-repeat;
}

.slider-button:hover{
    background-color: #814B18;
}

.slider-button:focus{
    outline: 2px solid #dbb590;
    background-color: #4E2E0E;
}
.button-next{
    transform: rotate(180deg);
}

.slider-pagination{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider-pagination-item{
    margin: 0 4px ;
}

.slider-pagination-button{
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider-pagination-button:hover{
    background-color: #AF7842;
}

.slider-pagination-button:focus{
    background-color: #242424;
    outline: none;
}

.slider-pagination-button-current{
    background-color: #242424;
}
.contacts{
    width: 350px;
    font-weight: 700;
}

/*Title*/
.contact-title{
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 28px;
    font-family: "PT Sans Narrow", sans-serif;
}

.contacts-address{
    font-style: normal;
}

/*subtitle*/
.contact-subtitle{
    margin-top: 22px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #af7842;
}

.contakts-address-text{
    margin: 8px 0;

}
/*Phone*/
.contacts-phone{
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #242424;
}

.contacts-schedule{
    margin: 8px 0;
    padding: 0;
    list-style-type: none;
}

.contacts-navigation{
    margin-top: 21px;
    margin-bottom: 0;
}
/*Title*/
.appointment{
    width: 430px;
}

.appointment-form{
    display: grid;
    grid-template-columns: 114px 74px 208px;
    gap: 20px;
}

.field-group{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.appointment-form  .info{
    display: none;
  }
.appointment-form-name{
    grid-column: 1/-1;
}

.appointment-submit{
    grid-column: 1/-1;
    justify-self: start;
    margin-top: 9px;
}

.appointment-title{
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 28px;
    font-family: "PT Sans Narrow", sans-serif;
}

/*List*/
.appointment-form{
    color: #595959;
}

/*Label*/
.form-label{
    margin-bottom: 8px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.form-label-icon{
    position: relative;
    padding-right: 16px;
}

.info{
    position:absolute;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-left: 2px;
    padding: 0;
    border-color: transparent;
    border: none;
    background-image: url(../images/info.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}

/*Footer*/
.page-footer{
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background-color: #242424;
    background-image: url(../images/noisy-texture-80x80-o8-d27-c-1f1f1f-t1\ 1.png);
    background-repeat: repeat;
}
.page-footer-container{
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 40px 0;
}


.page-footer a {
    color: #ffffff;
}

.page-footer .htmlacademy-link{
    font-size: 14px;
    color: #dbb590;
}

.page-footer-title{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color:#ffffff;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 14px;
}
.footer-contacts{
    width: 200px;
    margin-right:130px;
}
.footer-contacts-logo{
    display: block;
    margin-bottom: 24px;
}
.about-text{
    margin-top: 0;
    margin-bottom: 4px;
}
.footer-contacts-adress{
    margin-bottom: 16px;
    font-style: normal;
}
.footer-contacts-adress{
    font-style: normal;
}
.footer-contacts-adress p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
}

.footer-contacts-adress-phone {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
}

.footer-contacts-map-link {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: underline;
    text-transform: uppercase;
}

.news-letter-form{
    display: flex;
}
.newsletter-button{
    width: 56px;
    height: 44px;
    background-image: url(../images/Stroke2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
}
.footer-social{
    margin-left:auto;
    max-width: 190px;
}

.footer-social-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    list-style-type: none;

}

.footer-social-item {
    width: 56px;
    height: 44px;
    margin-right: 8px;
    margin-bottom: 8px;
  }

.footer-social-item:nth-child(3n){
    margin-right: 0;
}

.footer-social-link {
    display: block;
    height: 44px;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
  }
  
  .footer-social-tw {
    background-image: url(../images/twitter.svg);
  }
  
  .footer-social-vk {
    background-image: url(../images/vk.svg);
  }
  
  .footer-social-inst {
    background-image: url(../images/instagram.svg);
  }




/*Catalog*/

.navigation-logo{
    width: 140px;
    margin-right: 100px;
    display: flex;
    align-items: center;
}
.main-inner{
    padding-top: 40px;
    color: #242424;
    background-color: #FBF7F4;
    background-image: url(../images/noisy-texture-80x80-o8-d27-c-1f1f1f-t1\ 1.png);
}

.inner-header-title{
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 16px; 
}

/*breadcrumbs*/
.breadcrumbs { 
    display: flex;
    margin: 0;
    padding: 0;
    color: #242424;
    list-style-type: none;
  }
.breadcrumbs-link{
   color: inherit;
}

.breadcrumbs-item {
    position: relative;
    margin-right: 32px;
    list-style-type: none;
  }
  
  .breadcrumbs-item::after {
    position: absolute;
    top: 10px;
    right: -20px;
    width: 8px;
    height: 8px;
    background-color: #242424;
    content: "";
    transform: rotate(45deg);
  }
  
  .breadcrumbs-item:last-child::after {
    content: none;
  }
.catalog-products{
    display: flex;
}

.catalog-filter{
    width: 220px;
    margin-right: 20px;
}

.catalog-filter-title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #242424;
    text-transform: uppercase;
}

.catalog-right-column{
    width: 700px;
}

.control-label {
    font-weight: 700;
}

.sorting-container {
    display: flex;
    color: #000000;
    background-color: #ffffff;
    margin-bottom: 16px;
    padding: 16px;
}

.sorting-container .button{
    width: 56px;
    height: 44px;
}

.sorting-type{
    margin-right: auto;
}

.card-grid-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 44px;
    background-color: #000000;
}

.card-grid-toggle:hover {
    background-color: #814B18;
  }
  
  .card-grid-toggle:focus {
    outline: 2px solid #DBB590;
    background-color: #4E2E0E;
  }
.card-grid-toggle svg {
    fill: #FFFFFF;
}

.card-grid-toggle:hover svg,
.card-grid-toggle:focus svg {
  fill: #FFFFFF;
}
.card-grid-toggle-current {
    background-color: #FFFFFF;
  }
  
  .card-grid-toggle-current svg {
    fill: #000000;
  }


/*Light*/
.button-light{
    color: #242424;
    background-color: #ffffff;
}

/*Item*/
.product-list{
    display: grid;
    grid-template-columns: repeat(3, 220px);
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
}

.product-card{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.product-card-content{
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
/*Link*/
.product-card-link {
text-decoration: none;
}
/*Title*/
.product-card-title-link{
    margin-top: 16px;
    margin-bottom: 8px;
}
.product-card-title {
font-weight: 700;
color: #242424;
}

.product-card-button {
    margin-top: auto;
}
/*Price*/

.product-card-price{
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #814b18;
    text-transform: uppercase;
    margin-bottom: 16px;
}

/*Link*/
.pagination-container{
    display: flex;
    padding: 16px;
    background-color: #ffffff;
}

.pagination{
   display: flex;
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.pagination-item:not(:last-child){
    margin-right: 8px;
}

.pagination-link{
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 44px;
    padding: 14px 20px;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    line-height: 16px;
    font-weight: 700;
}

.pagination-link:hover {
    background-color: #814B18;
  }
  
  .pagination-link:focus {
    outline: 2px solid #DBB590;
    background-color: #4E2E0E;
  }

.pagination-current{
    color: #ffffff;
    border-color: #FFFFFF;
}

.pagination-prev,
.pagination-next {
  position: relative;
}

.pagination-prev {
  background-image: url("../images/stroke-right.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.pagination-next {
  background-image: url("../images/stroke1.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.pagination-disabled {
  background-color: #595959;
}

/* Show more */
.pagination-show-more {
  margin-left: auto;
}

/* Without background */
.pagination-clear {
  margin-top: 24px;
  padding: 0;
  background-color: transparent;
}
