@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html{
height: 100%;
}


body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #FBF7F4;
    color: #242424;
}


.button{
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}


/* Pages*/
.page-header{
    color: #ffffff;
    background: #000000;
}

.navigation{
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.navigation-list{
    width: 430px;
    margin: 0;
    padding: 0;
}

.navigation-user{
    max-width: 250px;
    margin-left: auto;
}

.navigation-link{
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.main-container{
    flex-grow: 1;
}

.page-container{
    width: 940px;
    margin: 0 auto;
}

.logo{
    display: block;
    margin: 0 auto;
}

.main-index{
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.advantages-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
}

.advantages-item{
    width: 277px;
}

.advantages-title{
    font-family: "PT Sans Narrow" sans-serif;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

/* Index columns*/
.index-columns{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    color: #242424;
    background-color: #FBF7F4;
    background-image: url(../images/noisy-texture-80x80-o8-d27-c-1f1f1f-t1\ 1.png);
} 

/*Services*/
.services {
    width: 390px;
    text-transform: uppercase;
}

/*Title*/
.services-title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
}

/*Price*/
.servies-list{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.services-price{
    color: #af7842;
}

/*Title*/
.gallery{
    width: 390px;
}


.gallery-title{
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts{
    width: 350px;
    font-weight: 700;
}

/*Title*/
.contact-title{
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts-address{
    font-style: normal;
}

/*subtitle*/
.contact-subtitle{
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #af7842;
}

/*Phone*/
.contacts-phone{
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #242424;
}

/*Title*/
.appointment{
    width: 430px;
}

.appointment-title{
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

/*List*/
.appointment-form{
    color: #595959;
}

/*Label*/
.form-label{
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

/*Footer*/
.page-footer{
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background-color: #242424;
    background-image: url(../images/noisy-texture-80x80-o8-d27-c-1f1f1f-t1\ 1.png);
    background-repeat: repeat;
}
.page-footer-container{
    display: flex;
    width: 940px;
    margin: 0 auto;
}


.page-footer a {
    color: #ffffff;
}

.page-footer .htmlacademy-link{
    font-size: 14px;
    color: #dbb590;
}

.page-footer-title{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color:#ffffff;
    text-transform: uppercase;
}
.footer-contacts{
    width: 200px;
    margin-right:130px;
}


.footer-contacts-adress{
    font-style: normal;
}
.footer-contacts-adress p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
}

.footer-contacts-adress-phone {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
}

.footer-contacts-map-link {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: underline;
    text-transform: uppercase;
}

.footer-social{
    margin-left:auto;
    max-width: 190px;
}


/*Catalog*/

.navigation-logo{
    width: 140px;
    margin-right: 100px;
}
.main-inner{
    color: #242424;
    background-color: #FBF7F4;
    background-image: url(../images/noisy-texture-80x80-o8-d27-c-1f1f1f-t1\ 1.png);
}

.inner-header-title{
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

/*breadcrumbs*/
.breadcrumbs{
    color: #242424;
}
.breadcrumbs-link{
    color: inherit;
}

.catalog-products{
    display: flex;
}

.catalog-filter{
    width: 220px;
    margin-right: 20px;
}

.catalog-filter-title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #242424;
    text-transform: uppercase;
}

.catalog-right-column{
    width: 700px;
}

.control-label {
    font-weight: 700;
}

.sorting-container {
    color: #000000;
    background-color: #ffffff;
}
/*Light*/
.button-light{
    color: #242424;
    background-color: #ffffff;
}

/*Item*/
.product-card{
    background-color: #ffffff;
}
/*Link*/
.product-card-link {
text-decoration: none;
}
/*Title*/
.product-card-title {
font-weight: 700;
color: #242424;
}
/*Price*/
.product-card-price{
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #814b18;
    text-transform: uppercase;
}

/*Link*/
.pagination{
    background-color: #ffffff;
}
.pagination-link{
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    line-height: 16px;
    font-weight: 700;
}
.pagination-current{
    color: #242424;
    border-color: #ffffff;
}
.pagination-disabled{
    background-color: #595959;
}